.is-borderless {
  border: none !important;
}

.navbar-menu.is-active {
  overflow-x: scroll;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

button.fab {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

.fab-area {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  display: flex;
  align-items: center;
}

.input.link {
  opacity: 0;
  visibility: hidden;

  width: 20rem;
  transition: opacity 0.2s;
}

.input.link.visible {
  opacity: 1;
  visibility: visible;
}

.feed-content h1,
.feed-content h2,
.feed-content h3,
.feed-content h4,
.feed-content h5,
.feed-content h6 {
  font-weight: bold;
  font-size: 1rem;
}
